# Ansible (from github/gitignore/Global/Ansible.gitignore)
*.retry
.ansible/

# Project secrets
.env
.vault_pass
**/vault.yml

# License files
*.lic

# Installers / large binaries
*.zip
*.tar.gz
*.exe

# nDisplayConfig files
*.ndisplay