---
# Stop UE editor on the editing node
#
# Usage:
#   ansible-playbook playbooks/ue-concert-editor-stop.yml

- name: Stop Concert editor
  hosts: ue_editing
  gather_facts: false

  tasks:
    - name: Graceful shutdown of UnrealEditor
      ansible.builtin.include_tasks: tasks/win_graceful_stop.yml
      vars:
        process_name: UnrealEditor
        graceful_timeout: 15
