---
# Stop the Concert (Multi-User Editing) server
#
# Usage:
#   ansible-playbook playbooks/ue-concert-server-stop.yml

- name: Stop Concert server
  hosts: ue_editing
  gather_facts: false

  tasks:
    - name: Graceful shutdown of UnrealMultiUserServer
      ansible.builtin.include_tasks: tasks/win_graceful_stop.yml
      vars:
        process_name: UnrealMultiUserServer
        graceful_timeout: 10
