---
# Stop Previs project on previs nodes
# Usage: ansible-playbook playbooks/ue-previs-stop.yml

- name: Stop Previs
  hosts: ue_previs
  gather_facts: false

  tasks:
    - name: Graceful shutdown of UnrealEditor
      ansible.builtin.include_tasks: tasks/win_graceful_stop.yml
      vars:
        process_name: UnrealEditor
        graceful_timeout: 15
